git_push
*.scomp
*.stran
*.bak
*.swp
*~
mapped/*
mapped
analyzed/*
analyzed
work/*
work/
reports/*
reports/
schematic/*
schematic/
source_work/*
source_work/
transcript
modelsim.ini
.nfs00000000011424800001130e
